header {
  display: flex;
  flex-grow: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 1;
  position: fixed;
  background-color: white;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30px;
  border: 1px solid black;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 12px;
}

a {
  color: black;
}

nav {
  display: block;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.maincontent {
  display: flex;
  position: relative;
  border-bottom: 1px solid black;
  padding-top: 116px;
  padding-bottom: 78px;
  padding-left: 91px;
  padding-right: 91px;
}

.column {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.secondaryfeatured {
  border: 3px solid black;
}

.newsbites {
  border: 1px solid black;
}
