header {
  display: flex;
  flex-grow: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 1;
  position: fixed;
  background-color: white;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30px;

}

.logo span {
  color: MediumAquamarine;
  padding-left: 12px;
}

a {
  color: black;
}

.headernav nav {
  display: block;
  padding-right: 40px;
  text-align: right;
}

.headernav nav span {
  display: inline-block;
  padding: 20px 10px;
}

.maincontent {
  display: flex;
  position: relative;
  border-bottom: 1px solid black;
  padding-top: 116px;
  padding-bottom: 78px;
  padding-left: 91px;
  padding-right: 91px;
}

.column {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.justtext {
  border: 3px solid black;
  display: block;
}


h1 {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-left: 20px;
}

.featuredimage {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  display: block;
  height: 300px;
}

.imagetext {
  display: block;
  height: 300px;
}

.image1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  height: 300px;
}

.image2 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  height: 300px;
}

.image3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  height: 300px;
}

.image-headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  text-align: center;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.maintext {
  font-family: Georgia;
  font-size: 40px;
  color: black;
}

.otherstories {
  display: flex;
  justify-content: space-around;
  margin-top: 17px;
}

.storycolumn {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
  display: block;
  border-bottom: 1px solid black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.footertopline {
  display: block;
}

.mytimesfooter {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 25px;
}

.footernav {
  display: inline-block;
  padding-left: 25px;
}

.footernav nav span {
  padding: 20px 10px;
}

.copyright p {
  display: block;
  font-family: Verdana;
  font-size: 12px;
}
